openapi: "3.0.0"

info:
  version: "1.0.0"
  title: "Nothing Better Than AL API"
  description: "This is the API for the Nothing Better Than AL cinema project"

host: nodeapi.3630alloperenoel.fr
basePath: "/"
schemes:
  - https

components:
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "The JWT token to authorize the user"

  responses:
    BearerNotProvidedResponse:
      description: "Bearer token not provided"
      content:
        application/json:
          schema:
            type: "object"
            properties:
              message:
                type: "string"
                example: "Bearer token not provided"

    UnauthorizedResponse:
      description: "Unauthorized"
      content:
        application/json:
          schema:
            type: "object"
            properties:
              message:
                type: "string"
                example: "Unauthorized"

    InvalidInputResponse:
      description: "Invalid input"
      content:
        application/json:
          schema:
            type: "object"
            properties:
              errors:
                type: "object"
                example:
                  {
                    "field1": "field_1 is required",
                    "field2": "field2 need to be at least 3 characters long",
                    "...": "...",
                  }

    ServerErrorResponse:
      description: "Server error"
      content:
        application/json:
          schema:
            type: "object"
            properties:
              message:
                type: "string"
                example: "Something went wrong"
paths:
  /healthcheck:
    get:
      summary: "Healthcheck"
      description: "Check if the API is up and running"
      responses:
        200:
          description: "Server is running"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  message:
                    type: "string"
                    example: "Server is running"

  /users/signup:
    post:
      summary: "Sign up"
      description: "Create a new user"
      parameters:
        - name: "body"
          in: "body"
          description: "User object that needs to be added"
          required: true
          schema:
            $ref: "#/definitions/User"
      responses:
        201:
          description: "User created"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  message:
                    type: "string"
                    example: "User created"
                  user:
                    $ref: "#/definitions/User"
        400:
          $ref: "#/components/responses/InvalidInputResponse"
        500:
          $ref: "#/components/responses/ServerErrorResponse"

  /users/login:
    post:
      summary: "Login"
      description: "Login a user"
      parameters:
        - name: "body"
          in: "body"
          description: "User object that needs to be added"
          required: true
          schema:
            type: "object"
            properties:
              email:
                type: "string"
                example: "johndoe@gmail.com"
              password:
                type: "string"
                example: "password"
      responses:
        200:
          description: "User logged in"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  message:
                    type: "string"
                    example: "Logged in"
                  token:
                    type: "string"
                    example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI1ZjIwZjQwZjQwZjQwZjQwZjQwZjQwZjQiLCJpYXQiOjE1OTYwNjQwNzJ9.1"
        400:
          $ref: "#/components/responses/InvalidInputResponse"
        401:
          description: "Bad login"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  message:
                    type: "string"
                    example: "Invalid email or password"
        500:
          $ref: "#/components/responses/ServerErrorResponse"

  /users/logout:
    get:
      security:
        - bearer: []
      summary: "Logout"
      description: "Logout a user"
      responses:
        200:
          description: "Logged out"
          schema:
            type: "object"
            properties:
              message:
                type: "string"
                example: "Logged out"
        401:
          $ref: "#/components/responses/BearerNotProvidedResponse"
        403:
          $ref: "#/components/responses/UnauthorizedResponse"
        500:
          $ref: "#/components/responses/ServerErrorResponse"

definitions:
  User:
    type: "object"
    properties:
      firstName:
        type: "string"
        example: "John"
      lastName:
        type: "string"
        example: "Doe"
      email:
        type: "string"
        example: "johndoe@gmail.com"
      password:
        type: "string"
        example: "password"
